In [1]:
import findspark

In [2]:
findspark.init('/home/tosin/spark-3.0.1-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Alpha').getOrCreate()

In [6]:
data = spark.read.json('/home/tosin/Documents/Dataset/people.json')

In [7]:
data.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
#Run Schema

data.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
#describe data

data.columns

['age', 'name']

In [10]:
data.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
water_df = spark.read.format('csv').option('header', 'True').load('/home/tosin/Documents/Dataset/effluent_data.csv')

In [12]:
water_df.show()

+---------------+--------------+---------------+------------------+--------------------+--------------------+--------------------+---------------+----+-----+
|SampleDateTime0|TreatmentPlant|SampleDateTime2|SampleLocationName|         SampleValue| NameDeterminandName|           UnitsName|BelowMinReading|Year|Month|
+---------------+--------------+---------------+------------------+--------------------+--------------------+--------------------+---------------+----+-----+
|     2015-11-19| Driffield STW|     2015-11-19|Treatment Effluent|0.013999999999999999|           triclosan|micrograms per litre|            Yes|2015|   11|
|     2015-04-06|Pen-y-bont STW|     2015-04-06|Treatment Effluent|              0.0005|              BDE 99|micrograms per litre|            Yes|2015|    4|
|     2015-04-06|Pen-y-bont STW|     2015-04-06|Treatment Effluent|              0.0005|             BDE 100|micrograms per litre|            Yes|2015|    4|
|     2015-04-06|Pen-y-bont STW|     2015-04-06|Treatment Effluent|              0.0005|             BDE 153|micrograms per litre|            Yes|2015|    4|
|     2015-04-06|Pen-y-bont STW|     2015-04-06|Treatment Effluent|              0.0005|             BDE 154|micrograms per litre|            Yes|2015|    4|
|     2015-04-06|Pen-y-bont STW|     2015-04-06|Treatment Effluent|2.999999999999999...|ethinyloestradiol...|micrograms per litre|            Yes|2015|    4|
|     2015-04-06|Pen-y-bont STW|     2015-04-06|Treatment Effluent|               1e-05|        cypermethrin|micrograms per litre|            Yes|2015|    4|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                34.0|     aluminium total|micrograms per litre|             No|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                 6.0|  aluminium reactive|micrograms per litre|             No|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                0.52|  chromium dissolved|micrograms per litre|            Yes|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                0.55|      chromium total|micrograms per litre|             No|2015|    9|
|     2015-04-06|Pen-y-bont STW|     2015-04-06|Treatment Effluent|              0.0005|              BDE 47|micrograms per litre|            Yes|2015|    4|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                0.75|diethylhexylphtha...|micrograms per litre|             No|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                 0.0|              BDE 47|micrograms per litre|            Yes|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                 0.0|              BDE 99|micrograms per litre|            Yes|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                 0.0|             BDE 100|micrograms per litre|            Yes|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                 0.0|             BDE 153|micrograms per litre|            Yes|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                 0.0|             BDE 154|micrograms per litre|            Yes|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                0.01|                PFOS|micrograms per litre|             No|2015|    9|
|     2015-09-29|  Deepings STW|     2015-09-29|Treatment Effluent|                 0.0|                PFOA|micrograms per litre|             No|2015|    9|
+---------------+--------------+---------------+------------------+--------------------+--------------------+--------------------+---------------+----+-----+
only showing top 20 rows

In [13]:
water_df.printSchema()

root
 |-- SampleDateTime0: string (nullable = true)
 |-- TreatmentPlant: string (nullable = true)
 |-- SampleDateTime2: string (nullable = true)
 |-- SampleLocationName: string (nullable = true)
 |-- SampleValue: string (nullable = true)
 |-- NameDeterminandName: string (nullable = true)
 |-- UnitsName: string (nullable = true)
 |-- BelowMinReading: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)

In [14]:
#edit the schemas appropriately

from pyspark.sql.types import StructField, StringType, IntegerType, StructType, DateType, FloatType

In [15]:
data_schema = [StructField('SampleDateTime0', DateType(), True),
              StructField('SampleDateTime2', DateType(), True),
              StructField('SampleValue', FloatType(), True),
              StructField('Month', IntegerType(), True)]

In [16]:
final_struc = StructType(fields=data_schema)

In [17]:
water_df = spark.read.csv('/home/tosin/Documents/Dataset/effluent_data.csv', header=True, inferSchema=True)

In [18]:
#water_df.printSchema()

In [19]:
water_df.dtypes

[('SampleDateTime0', 'string'),
 ('TreatmentPlant', 'string'),
 ('SampleDateTime2', 'string'),
 ('SampleLocationName', 'string'),
 ('SampleValue', 'double'),
 ('NameDeterminandName', 'string'),
 ('UnitsName', 'string'),
 ('BelowMinReading', 'string'),
 ('Year', 'int'),
 ('Month', 'int')]

In [20]:
#water_df[water_df.NameDeterminandName == 'triclosan'].show()

### Quick Exercise on Spark Dataframe

In [46]:
# Groupd dataset by Year
water_df.groupBy('Month').count().orderBy('count').show()

+-----+-----+
|Month|count|
+-----+-----+
|   12|35325|
|    4|48810|
|    2|49474|
|    5|51861|
|    3|52973|
|    8|53602|
|    6|54137|
|   10|54933|
|    1|56030|
|    7|57147|
|    9|59533|
|   11|64298|
+-----+-----+

In [41]:
# Groupd dataset by Units
water_df.groupBy('UnitsName').count().orderBy('count').show()

+--------------------+------+
|           UnitsName| count|
+--------------------+------+
|             Not Set|  1165|
|milligrammes per ...|134397|
|micrograms per litre|502561|
+--------------------+------+

In [40]:
# Groupd dataset by 'below min reading'
water_df.groupBy('BelowMinReading').count().orderBy('count').show()

+---------------+------+
|BelowMinReading| count|
+---------------+------+
|            Yes|190959|
|             No|447164|
+---------------+------+

In [35]:
# Groupd dataset by Determinants
water_df.groupBy('NameDeterminandName').count().orderBy('count', ascending=False).show() 

#top

+--------------------+-----+
| NameDeterminandName|count|
+--------------------+-----+
|    nickel dissolved|12513|
|total suspended s...|12379|
|             calcium|12376|
|        nickel total|12376|
|          iron total|12376|
|        copper total|12375|
|dissolved organic...|12374|
|       cadmium total|12374|
|   cadmium dissolved|12370|
|          lead total|12370|
|      chromium total|12370|
|     aluminium total|12365|
|total organic carbon|12365|
|      iron dissolved|12364|
|          zinc total|12363|
|           triclosan|12363|
|    copper dissolved|12357|
| aluminium dissolved|12352|
|  aluminium reactive|12351|
|                PFOS|12347|
+--------------------+-----+
only showing top 20 rows

In [38]:
# Groupd dataset by treatment Plants
water_df.groupBy('TreatmentPlant').count().orderBy('count', ascending=False).show(200)

+--------------------+-----+
|      TreatmentPlant|count|
+--------------------+-----+
|        Sherburn STW| 2414|
|       Rye Meads STW| 2232|
|          Hurley STW| 2071|
|         Birtley STW| 2005|
|          Marlow STW| 2002|
|       Melbourne STW| 1998|
|         Farnham STW| 1925|
|       Aldershot STW| 1925|
|          Battle STW| 1861|
|          Huyton STW| 1851|
|           Luton STW| 1848|
|         Reading STW| 1848|
|       Nettleham STW| 1844|
|        Oldhurst STW| 1837|
|       Tuddenham STW| 1798|
|           Wells STW| 1797|
|       Witchford STW| 1797|
|       Alconbury STW| 1796|
|      Swineshead STW| 1796|
|       Rackheath STW| 1795|
|            Acle STW| 1792|
|        Hanslope STW| 1786|
|      Waterbeach STW| 1767|
|         Duxford STW| 1748|
|    Uttons Drove STW| 1748|
|          Barrow STW| 1747|
|      Dullingham STW| 1747|
|        Frampton STW| 1729|
|      Callington STW| 1698|
|            Looe STW| 1655|
|     Horsham New STW| 1641|
|       Broughton STW| 1625|
|         Lincoln STW| 1596|
|          Howdon STW| 1566|
|        Hempnall STW| 1550|
|         Royston STW| 1549|
|      Hustledown STW| 1544|
|        Sandford STW| 1540|
|        Knostrop STW| 1533|
|Tunbridge Wells N...| 1531|
|        Pegswood STW| 1524|
|   Kidderminster STW| 1520|
|         Fornham STW| 1520|
|        Minworth STW| 1519|
|           Corby STW| 1519|
|      Horncastle STW| 1519|
|       Ambergate STW| 1519|
|         Warwick STW| 1519|
|          Hayden STW| 1518|
|       Dunstable STW| 1518|
|       Newthorpe STW| 1518|
|        Aycliffe STW| 1517|
|        Nuneaton STW| 1517|
|  Shepton Mallet STW| 1516|
|       Mansfield STW| 1515|
|        Garforth STW| 1510|
|     Vines Cross STW| 1509|
|       Lemonroyd STW| 1506|
|       Ilminster STW| 1505|
|          Neiley STW| 1489|
|Eden Vale East Gr...| 1483|
|       Biddenden STW| 1482|
|       Therfield STW| 1479|
|Sherburn in Elmet...| 1478|
|Stradishall (HMP ...| 1449|
|         Canwick STW| 1444|
|      Whitchurch STW| 1444|
|       Burscough STW| 1436|
|   Alderley Edge STW| 1424|
|      Fazakerley STW| 1415|
|      Windermere STW| 1415|
|        Biddulph STW| 1411|
|       Haverhill STW| 1397|
|         Bourton STW| 1377|
|Whitlingham (Norw...| 1368|
|      Pen-y-bont STW| 1355|
|  Ingoldisthorpe STW| 1348|
|        Thurston STW| 1348|
|         Crawley STW| 1326|
|          Benson STW| 1326|
|           Thame STW| 1326|
|       Leadenham STW| 1296|
|       Caythorpe STW| 1296|
|      Stanton Aw STW| 1296|
|      Cottesmore STW| 1295|
|          Ulceby STW| 1287|
|            Afan STW| 1276|
|       Chalgrove STW| 1275|
|        Abingdon STW| 1275|
|      Watlington STW| 1275|
|         Chinnor STW| 1275|
|Marston Moretaine...| 1248|
|          Woking STW| 1224|
|           Tring STW| 1224|
|          Henley STW| 1224|
|          Didcot STW| 1224|
|          Keelby STW| 1197|
|    Coney Weston STW| 1196|
|       Aylesbury STW| 1173|
|         Wantage STW| 1173|
|          Culham STW| 1173|
|         Chilton STW| 1173|
|          Milton STW| 1173|
|       Cambridge STW| 1150|
|Sisland (Loddon) STW| 1149|
|Halstead Langley STW| 1148|
|      Stowmarket STW| 1147|
|       Chieveley STW| 1123|
|         Newbury STW| 1123|
|  Hatfield Heath STW| 1122|
|          Purton STW| 1122|
|    Foxton Cambs STW| 1099|
|       Chedburgh STW| 1099|
|           Soham STW| 1098|
|      Burghfield STW| 1097|
|    Attleborough STW| 1089|
|      Silchester STW| 1072|
|      Beddington STW| 1072|
|       Ripley Tw STW| 1072|
|     Prisborough STW| 1071|
|        Appleton STW| 1071|
|       Rodbourne STW| 1071|
|     Worminghall STW| 1071|
|         Fraddon STW| 1050|
|Chester Le Street...| 1050|
|          Bordon STW| 1050|
|Gwennap (Lanner S...| 1050|
|      Iver North STW| 1050|
|Worksop (Manton) STW| 1050|
|Stanton Harcourt STW| 1050|
|     Maple Lodge STW| 1049|
|   Shamley Green STW| 1049|
|    East Markham STW| 1049|
|    Gt Gaddesden STW| 1049|
|          Potton STW| 1048|
|      Coton Park STW| 1048|
|        Hockford STW| 1048|
|         Heacham STW| 1048|
|        Keynsham STW| 1047|
|      Pangbourne STW| 1046|
|         Theydon STW| 1046|
|      Kingsclere STW| 1046|
|       Washwater STW| 1046|
|Summer La (Pagham...| 1039|
|     Whiteparish STW| 1039|
|          Lidsey STW| 1036|
|   Long Stratton STW| 1030|
|       Bottisham STW| 1029|
|        Gresford STW| 1028|
|      Hogsmill B STW| 1026|
|       Weybridge STW| 1026|
|        Hogsmill STW| 1026|
|         Standon STW| 1020|
|     Buntingford STW| 1020|
|     Aldermaston STW| 1020|
|         Cholsey STW| 1020|
|      Mill Green STW| 1020|
|       Chilton W STW| 1020|
| Stanford Rivers STW| 1020|
|          Slough STW| 1020|
|          Wisley STW| 1017|
|         Pity Me STW| 1013|
|Holsworthy (Derri...| 1012|
|          Kinson STW| 1011|
|          Wooler STW| 1010|
|        Ringwood STW| 1009|
|  Iwerne Minster STW| 1005|
|     Esh Winning STW| 1003|
|          Kelloe STW| 1001|
|      Sedgeletch STW| 1001|
|       Llangefni STW| 1000|
|         Sandall STW| 1000|
|       Woodsetts STW| 1000|
|        Redditch STW| 1000|
|        Ticknall STW| 1000|
|    Clayton West STW| 1000|
|  Huddersfield A STW| 1000|
|        Sleaford STW| 1000|
|         Reigate STW| 1000|
|       Burton OW STW| 1000|
|   Smalley Bight STW| 1000|
|        Holmwood STW| 1000|
|       Cranleigh STW| 1000|
|        Wombwell STW| 1000|
|         Chobham STW| 1000|
|           Derby STW| 1000|
|        Ancaster STW| 1000|
|         Meriden STW| 1000|
|     Cirencester STW| 1000|
|     Mablethorpe STW| 1000|
|       Nafferton STW| 1000|
|      Pittington STW| 1000|
|      Harvington STW| 1000|
|          Witney STW| 1000|
|  Balsall Common STW| 1000|
|           Alton STW| 1000|
|           Leven STW| 1000|
|        Carleton STW| 1000|
|         Barwick STW| 1000|
|           Oadby STW| 1000|
+--------------------+-----+
only showing top 200 rows

In [57]:
determinants = water_df.groupBy('NameDeterminandName')

In [64]:
determinants.agg({'SampleValue': 'mean'}).collect()

[Row(NameDeterminandName='carbamazepine', avg(SampleValue)=0.6435719211822668),
 Row(NameDeterminandName='aluminium total', avg(SampleValue)=99.5387840679338),
 Row(NameDeterminandName='cypermethrin', avg(SampleValue)=0.001329596052610153),
 Row(NameDeterminandName='total phosphorus as P', avg(SampleValue)=2.8798776753670476),
 Row(NameDeterminandName='Biochemical Oxygen Demand', avg(SampleValue)=5.0058816686056185),
 Row(NameDeterminandName='tolyltriazole', avg(SampleValue)=1.6513827667984187),
 Row(NameDeterminandName='total suspended solids', avg(SampleValue)=10.668297923903367),
 Row(NameDeterminandName='fluoranthene', avg(SampleValue)=0.01392646653696515),
 Row(NameDeterminandName='copper dissolved', avg(SampleValue)=6.984541312616331),
 Row(NameDeterminandName='PFOS', avg(SampleValue)=0.034164214700736883),
 Row(NameDeterminandName='diclofenac', avg(SampleValue)=0.32460956607495084),
 Row(NameDeterminandName='soluble reactive phosphate as P', avg(SampleValue)=2.4206637587726463),
 Row(NameDeterminandName='HCBDD', avg(SampleValue)=0.009066986367909258),
 Row(NameDeterminandName='norerythromycin', avg(SampleValue)=0.06971076011846039),
 Row(NameDeterminandName='pH', avg(SampleValue)=7.599193825042882),
 Row(NameDeterminandName='Nonylphenol', avg(SampleValue)=0.16769849849850268),
 Row(NameDeterminandName='BDE28', avg(SampleValue)=0.0003487388483373694),
 Row(NameDeterminandName='aluminium reactive', avg(SampleValue)=11.977374301675951),
 Row(NameDeterminandName='total oxidised nitrogen as N', avg(SampleValue)=24.558059246861916),
 Row(NameDeterminandName='zinc dissolved', avg(SampleValue)=27.101379899170592),
 Row(NameDeterminandName='oestrone', avg(SampleValue)=0.010170552763819072),
 Row(NameDeterminandName='BDE 154', avg(SampleValue)=0.00038078866271995537),
 Row(NameDeterminandName='aluminium dissolved', avg(SampleValue)=28.083218102331642),
 Row(NameDeterminandName='mercury total', avg(SampleValue)=0.009343761224324168),
 Row(NameDeterminandName='tri nonylphenol ethoxylates', avg(SampleValue)=0.07095117070946522),
 Row(NameDeterminandName='Tributyltin', avg(SampleValue)=0.00038629081467055635),
 Row(NameDeterminandName='BDE 100', avg(SampleValue)=0.0003455553888573332),
 Row(NameDeterminandName='ammoniacal nitrogen as N', avg(SampleValue)=1.3516639308674991),
 Row(NameDeterminandName='oestradiol 17b', avg(SampleValue)=0.0014098074596774171),
 Row(NameDeterminandName='erythromycin', avg(SampleValue)=0.39365301383399215),
 Row(NameDeterminandName='diethylhexylphthalate', avg(SampleValue)=0.7805443704305475),
 Row(NameDeterminandName='cadmium dissolved', avg(SampleValue)=0.037698666127728965),
 Row(NameDeterminandName='chromium total', avg(SampleValue)=0.7856732417138249),
 Row(NameDeterminandName='epoxycarbamazepine 10 11', avg(SampleValue)=0.2145671597633128),
 Row(NameDeterminandName='dissolved organic carbon', avg(SampleValue)=9.99818490383062),
 Row(NameDeterminandName='copper total', avg(SampleValue)=10.570253333333328),
 Row(NameDeterminandName='BDE 99', avg(SampleValue)=0.0005186577653359097),
 Row(NameDeterminandName='Octylphenols ', avg(SampleValue)=0.08315509142624693),
 Row(NameDeterminandName='calcium', avg(SampleValue)=86.42937540400779),
 Row(NameDeterminandName='ranitidine', avg(SampleValue)=0.5622067061143987),
 Row(NameDeterminandName='metformin', avg(SampleValue)=9.67722573964497),
 Row(NameDeterminandName='zinc total', avg(SampleValue)=38.94083393998218),
 Row(NameDeterminandName='iron dissolved', avg(SampleValue)=118.50839331931364),
 Row(NameDeterminandName='ortho hydroxyatorvastatin', avg(SampleValue)=0.20663593287265575),
 Row(NameDeterminandName='benzoapyrene', avg(SampleValue)=0.010056788968787998),
 Row(NameDeterminandName='ethinyloestradiol 17a', avg(SampleValue)=0.0003647290615539861),
 Row(NameDeterminandName='BDE 153', avg(SampleValue)=0.0003387422106884904),
 Row(NameDeterminandName='nickel dissolved', avg(SampleValue)=3.935398545512665),
 Row(NameDeterminandName='nickel total', avg(SampleValue)=4.291123787976727),
 Row(NameDeterminandName='clarithromycin', avg(SampleValue)=0.47300108374384187),
 Row(NameDeterminandName='mono nonylphenol ethoxylates', avg(SampleValue)=0.2045539714257356),
 Row(NameDeterminandName='sulphide', avg(SampleValue)=0.026489372651528155),
 Row(NameDeterminandName='norsertraline', avg(SampleValue)=0.03630019723865877),
 Row(NameDeterminandName='lead total', avg(SampleValue)=0.9128145513338721),
 Row(NameDeterminandName='ibuprofen', avg(SampleValue)=0.30621742574257327),
 Row(NameDeterminandName='trixylenyl phosphate', avg(SampleValue)=0.009644268774703446),
 Row(NameDeterminandName='triclosan', avg(SampleValue)=0.10173271374261973),
 Row(NameDeterminandName='iron total', avg(SampleValue)=414.8021731577243),
 Row(NameDeterminandName='azithromycin', avg(SampleValue)=0.2916011921182265),
 Row(NameDeterminandName='PFOA', avg(SampleValue)=0.008142880623075747),
 Row(NameDeterminandName='mercury dissolved', avg(SampleValue)=0.0042155074894171295),
 Row(NameDeterminandName='sertraline', avg(SampleValue)=0.06829536489151873),
 Row(NameDeterminandName='benzotriazole ', avg(SampleValue)=2.6074753853754937),
 Row(NameDeterminandName='total organic carbon', avg(SampleValue)=12.403053780833003),
 Row(NameDeterminandName='chromium dissolved', avg(SampleValue)=0.5664266341859515),
 Row(NameDeterminandName='lead dissolved', avg(SampleValue)=0.42647029261571096),
 Row(NameDeterminandName='propanolol', avg(SampleValue)=0.18832305418719208),
 Row(NameDeterminandName='para hydroxyatorvastatin', avg(SampleValue)=0.27306110562685104),
 Row(NameDeterminandName='di nonylphenol ethoxylates', avg(SampleValue)=0.14603904016027586),
 Row(NameDeterminandName='fluoxetine', avg(SampleValue)=0.05840482758620697),
 Row(NameDeterminandName='atenolol', avg(SampleValue)=0.39724960552268246),
 Row(NameDeterminandName='tamoxifen', avg(SampleValue)=0.006837091988130488),
 Row(NameDeterminandName='Chemical Oxygen Demand', avg(SampleValue)=37.33354249338625),
 Row(NameDeterminandName='atorvastatin', avg(SampleValue)=0.12102783810463973),
 Row(NameDeterminandName='BDE 47', avg(SampleValue)=0.0004901075857573343),
 Row(NameDeterminandName='cadmium total', avg(SampleValue)=0.04755598028123536),
 Row(NameDeterminandName='ciprofloxacin', avg(SampleValue)=0.1965241276171486)]

In [59]:
type (determinants)

pyspark.sql.group.GroupedData