## Walmart Stock from the years 2012-2017

EDA on the data using PySpark

In [1]:
import findspark

In [2]:
findspark.init('/home/tosin/spark-3.0.1-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("walmart").getOrCreate()

**Load data: Walmart Stock CSV File, have Spark infer the data types.**

In [5]:
stock_df = spark.read.csv('walmart_stock.csv',header=True,inferSchema=True)

In [6]:
#Columns in the data

stock_df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [7]:
#Check Schema

stock_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [8]:
#First 5 rows

for row in stock_df.head(5):
    print(row)
    print('\n')

Row(Date='2012-01-03', Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996)


Row(Date='2012-01-04', Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475)


Row(Date='2012-01-05', Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)


Row(Date='2012-01-06', Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922)


Row(Date='2012-01-09', Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)

In [9]:
#Alternatively

stock_df.head(5)

[Row(Date='2012-01-03', Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date='2012-01-04', Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date='2012-01-05', Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date='2012-01-06', Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date='2012-01-09', Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

In [11]:
#Explore the data using describe

stock_df.describe().show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

 Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

In [12]:
#format numbers to only show two decimal places

stock_df.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [13]:
from pyspark.sql.functions import format_number

In [14]:
result = stock_df.describe()
result.select(result['summary'],
              format_number(result['Open'].cast('float'),2).alias('Open'),
              format_number(result['High'].cast('float'),2).alias('High'),
              format_number(result['Low'].cast('float'),2).alias('Low'),
              format_number(result['Close'].cast('float'),2).alias('Close'),
              result['Volume'].cast('int').alias('Volume')
             ).show()

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519780|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

In [20]:
# create a new dataframe with additional column showing ratio of High price vs Volume

df1 = stock_df.withColumn('HV Ratio', stock_df['High']/stock_df['Volume'])#.show()

In [21]:
df1.select('HV Ratio').show()

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

In [24]:
# What date had the peak high in price

stock_df.orderBy(stock_df["High"].desc()).show()#.head(1)#[0][0]

+----------+-----------------+-----------------+-----------------+-----------------+--------+-----------------+
|      Date|             Open|             High|              Low|            Close|  Volume|        Adj Close|
+----------+-----------------+-----------------+-----------------+-----------------+--------+-----------------+
|2015-01-13|        90.800003|        90.970001|            88.93|        89.309998| 8215400|        83.825448|
|2015-01-08|        89.209999|90.66999799999999|            89.07|        90.470001|12713600|84.91421600000001|
|2015-01-09|            90.32|        90.389999|            89.25|        89.349998| 8522500|        83.862993|
|2015-01-12|        89.360001|        90.309998|        89.220001|        90.019997| 7372500|        84.491846|
|2015-01-23|88.41999799999999|        89.260002|        87.889999|        88.510002| 7565800|83.07458100000001|
|2015-01-26|        88.309998|        89.160004|        88.120003|        88.629997| 4666700|        83.187207|
|2015-01-07|        86.779999|            88.68|86.66999799999999|        88.599998| 8498400|        83.159051|
|2015-01-14|        87.650002|        88.519997|             86.5|        86.610001|11745600|        81.291259|
|2015-01-27|        88.279999|        88.459999|        87.260002|        87.529999| 6020500|         82.15476|
|2015-01-22|        87.230003|        88.400002|        86.860001|        88.300003| 7123800|        82.877478|
|2015-01-28|        88.019997|        88.230003|        86.769997|            86.82| 5936800|        81.488362|
|2014-11-28|            86.18|        88.089996|        85.900002|        87.540001| 7820600|81.70768000000001|
|2015-02-06|        87.260002|             88.0|        86.779999|87.33000200000001| 5617600|        81.967045|
|2015-01-15|             87.0|        87.779999|        86.699997|        87.379997| 9412700|         82.01397|
|2015-01-29|            87.07|        87.720001|        86.269997|        87.720001| 6522800|82.33309399999999|
|2015-01-20|            86.82|        87.699997|        85.550003|        86.690002| 7853100|        81.366348|
|2015-01-16|        87.199997|        87.459999|        86.230003|        86.769997| 8408900|81.44143000000001|
|2014-12-31|87.08000200000001|        87.440002|        85.860001|        85.879997| 4151400|        80.606085|
|2015-02-10|        86.620003|        87.410004|86.41999799999999|        87.290001| 5732100|          81.9295|
|2015-01-30|        86.779999|        87.360001|        84.900002|        84.980003|10280200|         79.76136|
+----------+-----------------+-----------------+-----------------+-----------------+--------+-----------------+
only showing top 20 rows

In [25]:
stock_df.orderBy(stock_df["High"].desc()).head(1)[0][0]

'2015-01-13'

In [27]:
#mean Close column - can be obtained from the 'describe' function as well
from pyspark.sql.functions import mean
stock_df.select(mean("Close")).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

In [28]:
from pyspark.sql.functions import max,min
from pyspark.sql.functions import count

In [29]:
#Max and min of the Volume column

stock_df.select(mean("Volume"),max("Volume"),min("Volume")).show()

+-----------------+-----------+-----------+
|      avg(Volume)|max(Volume)|min(Volume)|
+-----------------+-----------+-----------+
|8222093.481717011|   80898100|    2094900|
+-----------------+-----------+-----------+

In [32]:
#no of Days where Close was lower than 60
stock_df.filter('Close < 60').count()

81

In [34]:
sixty = stock_df.filter(stock_df['Close'] < 60)

In [36]:
sixty.select(count('Close')).show()

+------------+
|count(Close)|
+------------+
|          81|
+------------+

In [38]:
#percentage of the time was the High greater than 80 dollars ?
#(Number of Days High>80)/(Total Days in the dataset)

(stock_df.filter(stock_df['High'] > 80).count() / stock_df.count())*100

9.141494435612083

In [41]:
# Pearson Correlation between High/Close and Volume
from pyspark.sql.functions import corr

stock_df.select(corr("High","Volume")).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

In [52]:
#Max High per year

from pyspark.sql.functions import year

yeardf = stock_df.withColumn("Year",year(stock_df["Date"]))

yeardf.select.show()

In [48]:
max_df = yeardf.groupBy('Year').max()

In [49]:
max_df.select('Year','max(High)').show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

In [50]:
# average Close for each Calendar Month?
from pyspark.sql.functions import month
monthdf = stock_df.withColumn("Month",month("Date"))
monthavgs = monthdf.select("Month","Close").groupBy("Month").mean()
monthavgs.select("Month","avg(Close)").orderBy('Month').show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+